td:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
table {
    overflow:hidden;
    table-layout:fixed;
}​

tr.mark-area {
  width: 540px;
}

td {
  text-align:center;
  font-size:25px;
  overflow: hidden;
  white-space: nowrap;
}

.col-md-6 {
  width: 540px;
}

#account-info {
  display: none;
}
