td:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
table {
    overflow:hidden;
    table-layout:fixed;
    border: 2px solid black;
}​

td {
  overflow: hidden;
  white-space: nowrap;
}

.col-md-6 {
  /*width: 540px;*/
}

td {
  text-align:center;
  font-size:25px;
  border: 1px solid black;
}

.vertical-center {
  min-height: 70%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
